main {
    margin-top: 5rem; /* space for fixed header */
}

header {
    display: flex;
    height: 90px;
    justify-content: space-between; /* space between elements */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
}

header h1 {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    white-space: nowrap; /* one-line title */
}

header button {
    border-radius: 8px;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    text-align: center;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
        align-items: flex-start;
    }

    header h1 {
        display: none;
    }
}