main {
    margin-top: 5rem; /* space for fixed header */
}

header {
    display: flex;
    max-height: 90px;
    justify-content: space-between; /* space between elements */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
}

.static-title {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    white-space: nowrap; /* one-line title */
}

header button {
    border-radius: 8px;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    text-align: center;
}

.none {
    background-color: transparent;
    padding: 0;
    border: none;
}

.none:hover {
    background-color: transparent;
}

.title-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 40px; 
    overflow: hidden;
    display: flex;
    align-items: center;
}

.title-inner {
    display: flex;
    transform: translateY(25%);
    flex-direction: column;
    transition: transform 0.4s ease;
}

.title-wrapper:hover .title-inner {
    transform: translateY(-25%);
}

.title-wrapper h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    line-height: 40px;
    white-space: nowrap;
    margin: 0;
    text-align: center;
    pointer-events: none;
    /* sacamos position absoluta y transform de acá */
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .title-wrapper h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .title-wrapper {
        height: 2rem;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
        align-items: flex-start;
    }

    .static-title {
        margin-top: -5px;
    }

    
    .title-wrapper {
        margin-top: 5px;
    }
}