
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}

.layout {
    display: flex;
    height: 100vh;
    padding-top: 60px; /* compensate fixed header */
}

/* side bar: displays tables */

.db-header {
    display: flex;
    width: 100%;
}

.db-sidebar {
    margin-top: 11px;
    width: 250px;
    overflow-y: none;
}

.db-sidebar h2 {
    text-align: center;
    padding: 10px;
}

.db-sidebar ul {
    list-style: none;
    padding: 10px;
}

.db-sidebar li {
    padding: 10px;
    cursor: pointer;
}

/* main content of the html */

.db-main-content {
    flex: 1;
    margin-top: 30px;
    overflow-y: auto;
    padding: 20px;
}

.db-main-content h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.db-table, .json-container {
    margin: 10px;
    margin-top: 0px;
    padding: 20px;
    max-height: 40%;
    background-color: transparent;
    border-radius: 8px;
    overflow: auto; 
}

.json-container {
    max-height: 60%;
}

.db-table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.db-table th, .db-table td {
    padding: 8px;
    text-align: left;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}


