/* Paleta de colores */

:root {
    --gray-1: #ffffff;              
    --gray-2: #f9f9f9;              
    --gray-3: #f4f4f4;              
    --gray-4: #f1f1f1;              
    --gray-5: #f0f0f0;              
    --gray-6: #e4e4e4;              
    --gray-7: #e4e4e4;              
    --gray-8: #ebebeb;              
    --gray-9: #dddddd;              
    --gray-10: #d0d0d0;             
    --gray-11: #cccccc;             
    --gray-12: #ccc;                
    --gray-13: #ddd;                
    --gray-14: #aaa;                
    --gray-15: #686868;             
    --gray-16: #444444;             
    --gray-17: #333333;             
    --gray-18: black;         
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--gray-14) transparent;
}

/* index.html */

body {
    background-color: var(--gray-8);
    color: var(--gray-17);
}

header {
    background-color: var(--gray-1);
}

header button {
    background: var(--gray-6);
}

header button:hover {
    background-color: var(--gray-10);
}

.container div {
    border: 1px solid var(--gray-12);
    background-color: var(--gray-7);
}

a {
    color: var(--gray-15);
}

a:hover {
    color: var(--gray-16);
}

/* Modal in index.html */

.modal-content {
    border: 1px solid var(--gray-12);
    background-color: var(--gray-1);
}

.close {
    color: var(--gray-14);
}

.close:hover,
.close:focus {
    color: var(--gray-18);
}

.create-model, .opt-card {
    border: 1px solid var(--gray-12);
    background-color: var(--gray-2);
}

/* Estilos para polaria-chat.html */

.chat-box {
    background-color: var(--gray-9);
}

.chat-container {
    background-color: var(var(--gray-4));
}

.chat-history {
    scrollbar-color: var(--gray-16) transparent;
}

.chat-input {
    background-color: var(--gray-11);
}

.user-msg {
    background-color: var(--gray-8);
}

.bot-msg {
    background-color: var(--gray-18);
}

#message-input {
    background-color: var(--gray-11);
    scrollbar-color: var(--gray-16) transparent;
}

.left-menu, .right-menu {
    background-color: var(--gray-7);
}

/* Menu elements */

.chat-item, .add-chat {
    background: var(--gray-3);
}

.options-menu {
    background: var(--gray-1);
    border: 1px solid var(--gray-12);
}

.menu-button:hover,
.menu-button.delete:hover {
    background: var(--gray-5);
}

.opt-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.add-chat:hover, .chat-item:hover {
    background: var(--gray-13);
}


/* database.css */ 

.db-sidebar {
    background-color: var(--gray-5);
    border-right: 1px solid var(--gray-12);
}

.db-sidebar h2 {
    background-color: var(--gray-6);
    border-bottom: 1px solid var(--gray-12);
}

.db-sidebar li {
    border-bottom: 1px solid var(--gray-13);
}

.db-sidebar li:hover {
    background-color: var(--gray-6);
}

.db-main-content h2 {
    color: var(--gray-17);
}

tr.selected {
    background-color: #cce5ff !important;
}

.db-table th, .db-table td {
    border: 1px solid var(--gray-14);
}

.db-table th {
    background-color: var(--gray-7);
}

/* Search bar */

.search-bar {
    background-color: transparent;
}

.type-1 {
    background-color: var(--gray-5);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.search-bar button:hover {
    background-color: var(--gray-9);
}

/* shell.css */

.shell-terminal,
.shell-input-bar {
    background-color: var(--gray-1);
}

.shell-input-bar .prompt {
    color: var(--gray-17);
}

.shell-input-bar input {
    border: 1px solid var(--gray-12);
}